@import "public";

body {
  font-size: .26rem;
}

.form-select {
  font-size: .26rem;
}

.select-book {
  display: none;
}

.plan {
  display: none;
  .plan-content {
    position: relative;
    text-align: center;
    .plan-close {
      position:absolute;
      top:.06rem;
      right:.08rem;
    }
    .title {
      font-size: .45rem;
      margin: .1rem 0;
    }
    .result {

    }
    .editor {
      margin: .26rem 0 .2rem;
    }
  }
}
