<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="/introduce/view_adapter.js"></script>
    <link href="/css/learn_word.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="word-head j-word-head"></div>
<div class="j-time"></div>
<div class="word-progress j-word-progress">
    <div class="progress-bar j-bar"></div>
</div>
<div class="word-content j-word-content">
</div>
<div class="footer-btn"><span class="btn j-not-know">不认识</span><span class="btn j-know">下一个</span></div>
<audio id="player" src="">您的浏览器不支持h5 audio,建议升级您的浏览器</audio>
<script src="/introduce/jQuery-3.1.1.js"></script>
<script src="/js/tool.js"></script>
<script>
    jQuery(function ($) {
        var allWords = [];//存放当前所有单词数据
        var currentNum = 1;//当前渲染第几个单词
        var unKnowWords = [];//不认识的单词集合
        var cdTime=5;//每个单词持续的时间(s)



        

        var wordPlayer = new player({
            dom: $('#player')
        });
        var progressBar=new progress($('.j-word-progress .j-bar'),cdTime);
        var learnWord = {
            init: function () {
                this.getList();
                this.bindEvent();
            },
            getList: function () {
                var _this = this;
                $.post('/learn_word/all_list_word', function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        allWords = data.result;
                        _this.renderCurrentWord();
                    } else {
                        alert('获取数据失败');
                    }
                });
            },
            renderCurrentWord: function () {
                var _this=this;
                //渲染单词
                var currentWord = allWords[currentNum - 1];
                var wordPron=(currentWord["head-word"].pron==undefined?"sorry  尚无音标":currentWord["head-word"].pron+'<span class="j-play-word" word="' + currentWord["head-word"].attribute.search + '">播放</span>');
                var headStr = '<h3 class="word-name j-word-name">' + currentWord["head-word"].attribute.search + '</h3>' +
                        '<p class="word-pron">' +wordPron+ '</p>';
                $('.j-word-head').html(headStr);
                //渲染释义
                var wordContent = '<h4 class="word">' + currentWord["head-word"].word.replace(/\|/ig, "&nbsp") + '</h4><ul class="main">';
                var senseNum = 0;
                $.each(currentWord.sense, function (idx, obj) {
                    senseNum++;
                    var mean_cn = (obj.tran == undefined ? '_' : obj.tran);
                    var mean_en = (obj.def == undefined ? "_" : obj.def["_"]);

                    wordContent +=
                            '<li class="sense"> ' +
                            '<div class="title-num">' + senseNum + '.</div> ' +
                            '<section class="content-txt"> ' +
                            '<p class="mean-bar">' + mean_cn + '</p> ' +
                            '<p class="mean-bar">' + mean_en + '</p> ';
                    if (obj.example != undefined && obj.example.length > 0) {
                        var exampleNum = 0;
                        $.each(obj.example, function (idx1, obj1) {
                            exampleNum++;
                            wordContent += '<div class="example"> <div class="title-num">例' + exampleNum + ':</div> ' +
                                    '<section class="content-txt"> ' +
                                    '<p class="example-">'+obj1.tran+'</p> ' +
                                    '<p>'+obj1.ex+'</p> </section> ' +
                                    '</div> ';
                        });
                    }
                    wordContent += '</section> </li>';
                });
                wordContent += '</ul>';
                $('.j-word-content').html(wordContent);
                //开启定时器
                _this.startTime();
            },
            nextWord: function () {
                var _this = this;
                currentNum++;
                $('.j-word-content').hide();
                $('.j-not-know').removeClass('disable');
                //重置进度条
                progressBar.rest();
                if (currentNum >= (allWords.length + 1)) {
                    alert('over');
                } else {
                    _this.renderCurrentWord();
                }
            },
            startTime: function () {
                //开启每个单词作答时间
                var _this = this;
                progressBar.start(function(obj){
                    //进行中
                },function(obj){
                    //结束 显示单词释义
                    _this.unKnow();
                });
                //时间显示
                /*downTime.rest({
                    cdTime: GdownTime,
                    startCall: function (obj) {
                        $('.j-time').text(obj.nowTime + '秒');

                        $('.j-word-progress .j-bar').css('width',((1-(obj.nowTime/GdownTime))*100)+'%');

                    },
                    endCall: function (obj) {

                    }
                });*/
            },
            unKnow:function(){
                $('.j-not-know').addClass('disable');
                var unKnowWord = $('.j-word-name').text().trim();
                if($.inArray( unKnowWord, unKnowWords )==-1){
                    unKnowWords.push(unKnowWord);
                }
                $('.j-word-content').fadeIn();
            },
            bindEvent: function () {
                var _this = this;
                $('.j-know').on('click', function () {
                    //我会
                    _this.nextWord();
                });
                $('.j-not-know').bind('click', function () {
                    //我不会
                    if($(this).hasClass('disable')){
                        return false;
                    }
                    progressBar.stop();
                  _this.unKnow();
                });
                $('.j-word-head ').on('click','.j-play-word',function(){
                    var word=$(this).attr('word').trim();
                    var youdao_url = 'https://dict.youdao.com/speech?audio=' + word;
                    wordPlayer.setting($(this),youdao_url);
                    wordPlayer.play();
                });
            }
        };
        learnWord.init();
    });
</script>
</body>
</html>